@font-face {
    font-family: "Cuprum Regular";
    src: url("../fonts/cuprum.woff");
}

@font-face {
    font-family: "Cuprum Bold";
    src: url("../fonts/cuprumbold.woff");
}

@font-face {
    font-family: "Cuprum Bold Italic";
    src: url("../fonts/cuprumbolditalic.woff");
}

@font-face {
    font-family: "Cuprum Italic";
    src: url("../fonts/cuprumitalic.woff");
}

@font-face {
font-family: "PT Sans Regular";
    src: url("../fonts/ptsans.woff");
}

@font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/ptsansbold.woff");
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* header */

.main-header {
    min-height: 320px;
    background-color: #f2f6f8;
    font-family: "Cuprum Regular";
}

.header-top{
    background-color: #293449;
    min-height: 42px;
}


.header-top:hover{
   background-color: #212a3a;
}



.header-top .button-top-logo{
    float: left;
    width: 220px;
    background-color: #ee3643;
    color: #ffffff;
    height: 38px;
    font-family: "Cuprum Bold";
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 9px;
    box-shadow: inset 0 -10px 1px -5px #b52933;
    box-shadow-left: transparent;
    position: absolute;
}



.header-top .button-top-logo:hover, .header-top .button-top-logo:active{
background-color:#ca2c37;
}

.header-top-search{
    float: left;
    width: 270px;
    position: fixed;
    right: 655px;
    padding-top: 10px;
    border: 1px solid greenyellow;
}

input, textarea .header-top-search {
    border: none;
    background: none;
    color: #ffffff;
    border: 1px solid greenyellow;
    width: 270px;
}



.header-top-nav{
    float: right;
    width: 460px;
    font-size: 0;

}



a.bookmarks, a.cart, a.action{
    font-family: "Cuprum Regular";
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    display: inline-block;
    width: 150px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    padding-top: 12px;

}

a.bookmarks{
    width: 160px;
    background:  url("../img/sprite.png") no-repeat;
    background-position: 4px -913px;
}


a.cart{
    background: #ee3643 url("../img/sprite.png") no-repeat;
    background-position: 8px -876px;
    text-align: right;
    padding-right: 20px;
    width: 130px;

}

a.cart-index{
    background:  url("../img/sprite.png") no-repeat;
    background-position: -10px -879px;
}

a.action{
    background-color: #63a63e;
}
a.action:hover{
    background-color: #5fbb2d;
}


.header-center {
    min-height: 90px;
    padding-top: 47px;
    padding-bottom: 20px;
}
.header-center-about{
    float: left;
    width: 200px;
    color: #ee3643;
    font-family: "Cuprum Italic";
    text-align: left;
    margin-left: 50px;
    margin-right: 70px;

}

.header-center-contacts{
    float: left;
    width: 270px;
}


.header-center-contacts .phone{
    color: #ee3643;
    font-size: 21px;
    line-height: 17px;
    border: 3px solid white;
    padding-right: 50px;
    padding-left: 70px;
    height: 30px;
    padding-top: 10px;
}
.header-center-contacts .address{
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}


.header-center-userblock{
    float: right;
    width: 300px;
    margin-top: 15px;
}


a.login{
    width: 150px;
    background: #ffffff url("../img/sprite.png") no-repeat;
    background-position: 7px -839px;
    padding: 10px 25px 10px 50px;
    font-size: 21px;
    line-height: 18px;
    color: #000000;
    margin-right: 5px;
    margin-left: 15px;
}



a.login:hover{
    color: #ee3643;
    width: 150px;
    background: #ffffff url("../img/sprite.png") no-repeat;
    background-position: 7px -1291px;

}

a.registration{
   width:  122px;
    background-color: #ffffff;
    padding: 10px 25px;
    font-size: 21px;
    line-height: 18px;
    color: #000000;
}

a.registration:hover{
    color: #ee3643;
}



a.registration:active, a.login:active{
color: #c5c5c5;
}


a.login:active {
    background: #ffffff url("../img/sprite.png") no-repeat;
    background-position: 7px -839px;
}
a.user{
    color: #000000;
    font-size: 21px;
    line-height: 18px;
    vertical-align: top;
    padding-left: 40px;
    padding-right: 70px;
    height: 30px;
    padding-top: 10px;
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin-top: -15px;

}
a.offers, a.personal-account{
    color: #32425c;
    font-size: 16px;
    line-height: 26px;
    text-decoration: underline;
    margin-left: 15px;
    padding-right: 15px;
}
.header-navigation ul{
    margin: 0;
    background-color: #32425c;
    height: 60px;
    text-align: center;
    font-size: 0;
}
.header-navigation li{
   display: inline-block;
    vertical-align: top;

}

.header-navigation a{
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    display: block;
padding: 20px 30px;
}

.header-navigation ul:first-child{
    padding-left: 0px;
}


/* main */

.breadcrumbs {
    font-size: 0;
    padding-top: 25px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs a{
    font-size: 13px;
    padding-right: 35px;
    color: #000000;
    line-height: 18px;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans Regular";
    text-transform: uppercase;
}

.header h1 {
    background-color: #f2f6f8;
    font-family: "Cuprum Regular";
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #32425c;
    height: 60px;
    padding-left: 30px;
    padding-top: 30px;
}


.conteiner-left {
    width: 220px;
    float: left;
    margin-top: 15px;
}

.filters span {
    font-family: PT Sans Regular;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding: 15px 150px 15px  20px;

}

h2{
    font-family: PT Sans Bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 20px;

}

.range-filter{
    padding-top:5px;
    width:220px;
    margin-bottom:10px;
}

.range-controls{
     position:relative;
    height:80px;
    margin-bottom:10px;
    padding:0 30px;
    border-radius:5px;
    overflow:hidden;
    background-color: #f7f3ec;
}

.scale{
    margin-top:39px;
    height:2px;
    background-color: #d7dcde;
}

.bar{
    height:2px;
    background:#00ca74;
    width:130px;
}

.toggle{
    position:absolute;
    top:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}

.min-toggle{
    left:10px;
}

.max-toggle{
    left:145px;
}

.price-controls input {
    width:55px;
    padding:8px 19px;
    border:none;
    background:#f7f3ec;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:5px;
}

input.min-price {
    margin-right: 30px;
}

.filter-checkbox label, .filter-radio label{
    font-family: PT Sans Regular;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-checkbox, .filter-radio{
    margin-bottom: 20px;
}

.filter-radio:last-child {
    margin-bottom: 80px;
}


a.button{
    border: 1px solid #e5e5e5;
    padding: 7px 20px;
    font-family: PT Sans Regular;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

}

.conteiner-right{
    float: right;
    width: 700px;
}

.sort-navigation {
    font-family: PT Sans Regular;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding-top: 2px;
    text-align: left;
    height: 45px;
    vertical-align: top;
}

.sort-navigation li{
    display: inline-block;
    background-color: #f7f3ec;
}

.sort-navigation a{
    color: #000000;
}

.items{
    font-size: 0;
    margin: 0;

}

.item {
    display: inline-block;
    width: 218px;
    height: 318px;
    background-color: #ffffff;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-top: 20px;
}

.item:nth-child(3n){
    margin-right:0 ;
}

.actions{

}
a .btn .buy   {

}
a .btn .bookmark{

}

.item-image{

}

.item-title{
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    font-family: PT Sans Bold;
    text-align: center;
}

.item-title span{
    text-transform: uppercase;
}

.item-price-last{
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
}

.item-price-new{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-weight: bold;
    background-color: red;
    text-align: center;
}
.paginator{
    font-size: 0;
    vertical-align: top;
    margin-top: 50px;
    padding-left: 0;
}
.paginator a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 5%;
    width: 45px;
    min-height: 25px;
    text-align: center;
    padding: 10px 0px;
    color: #000000;
}
.paginator a.active {
    color: #ffffff;
    background-color: #ee3643;
}


.paginator li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}

.paginator-item-next a{
    width: 140px;
}

section.info{
    background-color: #f2f6f8;

}

h3{
    font-family: "Cuprum Regular";
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 65px;

}

.info p{
    text-align: left;
    line-height: 24px;
    font-family: "Cuprum Regular";
    padding-bottom: 70px;
    font-size: 14px;

}

/* main index */


section.promo {
padding-top: 60px;
}
.promo-top {

}

.promo-item {
    width: 300px;
    height: 125px;
    margin-bottom: 20px;
}

.promo-item-materials{
    float: left;
    background-color: #f6b22d;
    margin-right: 20px;
}

.promo-item-tools{
    float: left;
    background-color: #4aafde;
}

.promo-item-tech{
    float: right;
    background-color: #cc79d1;
}

.promo-bottom{

}
.promo-slider{
    float: left;
    position: relative;
    width: 620px;
}

.promo-info{
    position: absolute;
    top: 10px;
    margin-left: 20px;
}
.promo-info span{
    font-family: "Cuprum Bold";
    font-size: 36px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
.promo-info p{
     font-family: "PT Sans Regular";
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}



a.button-catalog{
    position: absolute;
    bottom: -140px;
    color: #ffffff;
    background-color: #ee3643;
    border: none;

}
.promo-items{
    float: right;
    width: 300px;
}
.promo-item-sale{

    background-color: #85d179;
}

.promo-item-delivery{
    background-color: #f6b22d;
}


section .popular{

}

.popular-title{
    background-color: #f7f3ec;
}

h1 {
    font-family: "Cuprum Regular";
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

 }

.popular-title h1{
    width: 375px;
    float: left;
    margin-left: 25px;
}

a.button-popular{
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    float: right;
    width: 250px;
margin-top: 25px;
    margin-right: 25px;
    font-family: "Cuprum Regular";
    font-size: 14px;
    line-height: 18px;
}


.popular-items{
    font-size: 0;
    margin: 0;

margin-bottom: 20px;
}

.popular-item{
    display: inline-block;
    width: 218px;
    height: 318px;
    background-color: #ffffff;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-top: 20px;
}

.actions{
    display: none;
}

.popular-item:last-child{
    margin-right:0 ;
}

.popular-manufacturers {
    font-size: 0;
    margin: 0;
    margin-bottom: 55px;
}

.popular-manufacturers div{
    display: inline-block;
    width: 219px;
    height: 145px;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 18px;
    margin-top: 20px;

}


.popular-manufacturers div:nth-child(4n){
margin-right: 0;
}

.popular-manufacture img{

}



.slider{
    height: 522px;
    background: #f2f6f8 url("../img/layer 131.png") 600px 250px no-repeat;
}


.service{
    width: 440px;
    padding-top: 30px;
}

.service h2{
font-family: "Cuprum Regular";
    font-size: 25px;
}

.service p{
font-family: "Cuprum Regular";
    margin-bottom: 75px;
}

.slider-nav{
    float: left;
width: 240px;
}

.slider-nav ul{

   font-size: 0;
}

.slider-nav li{
    width: 240px;
    list-style: none;
    margin-left: -40px;

}

.slider-nav a{
    color: #ffffff;
    background-color: #32425c;
    font-family: "Cuprum Bold";
    font-size: 21px;
    line-height: 30px;
    display: block;
    padding: 10px 140px 10px 20px;
    border: 1px solid black;
}
.slider-nav a.active{
    background-color: #ffffff;
    color: #32425c;
    border: none;
}

.slider-slides{
    float: right;
    width: 620px;
}

.delivery{
    width: 300px;

}

.delivery .slides-title{
    font-family: "Cuprum Regular";
    font-size: 30px;
    margin-top: 20px;
    padding-top: 0;

}


.delivery p{
    font-family: "Cuprum Regular";
    margin-bottom: 75px;
}

section.info-tehnomart{
    margin-bottom: 85px;
}
.info-company{
    float: left;
    width: 540px;
}


.info-company h2{
font-family: "Cuprum Regular";
    font-size: 30px;
}


.info-company p{
font-family: "Cuprum Regular";
    padding-bottom: 20px;
}

.info-company ul{
    padding-bottom: 30px;
}

.info-company li{
font-family: "Cuprum Regular";
    list-style: none;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}

.info-company a.button{
    background-color: #ee3643;
    color: #ffffff;
}

.info-contacts{
    float: right;
    width: 300px;
}

.info-contacts h2{
    font-family: "Cuprum Regular";
    font-size: 30px;
}

.info-contacts p{
font-family: "Cuprum Regular";
    padding-bottom: 30px;
}

.info-contacts a.button{
background-color: #ee3643;
    color: #ffffff;
 }

    .info-contacts img{
padding-bottom: 40px;
}

/* footer */


.main-footer{
    min-height: 300px;
    background-color: #32425c;
    font-family: "Cuprum Regular";
}

.footer-top{
    background-color: #32425c;
    min-height: 65px;
}

.header-top-logo{
float: left;
width: 220px;
background-color: #ee3643;
color: #ffffff;
height: 50px;
font-family: "Cuprum Bold";
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
text-align: center;
padding-top: 20px;
}

.footer-top-navigation{
    float: right;
    width: 700px;
    }

.footer-top-navigation ul{
    margin: 0;
    background-color: #32425c;
    height: 60px;
    text-align: center;
    font-size: 0;
}
.footer-top-navigation li{
    display: inline-block;
    vertical-align: top;
}

.footer-top-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    display: block;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.footer-top-navigation ul:first-child{
    padding-left: 137px;}

.footer-top-navigation ul:last-child{
    padding-right: 0;
    margin-right: 0;
}

.footer-center{
    background-color: #32425c;
    min-height: 125px;
    padding-top: 30px;
}


.footer-center-contacts{
    float: left;
    width: 320px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Cuprum Regular";
}

.footer-center-navigation{
    float: right;
    width: 560px;

}

.footer-center-navigation ul{
    margin: 0;
    background-color: #32425c;
    height: 60px;
    text-align: center;
    font-size: 0;
}

.footer-center-navigation li{
    display: inline-block;
    vertical-align: top;
}

.footer-center-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    display: block;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 50px;
}


.footer-center-navigation ul:first-child{
    padding-left: 12px;}

.footer-center-navigation ul:last-child{
    padding-right: 0;
    margin-right: 0;
}

.footer-bottom{
    background-color: #293449;
    min-height: 65px;
    padding-top: 40px;
}


.footer-bottom-info{
    float: left;
    width: 240px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;

}

.footer-bottom-social{
float: left;
    width: 160px;
}

a .social-btn {

}
.social-btn-vk{

}
.social-btn-fb{

}
.social-btn-inst{

}


.footer-bottom-mail{
    color: #ffffff;
    float: right;
    width: 160px;
    margin-right: 40px;
}

.footer-bottom-develop{
    float: right;
    width: 140px;
    color: #ffffff;
}

a.cite{
    color: #ffd180;
}

/* sprite */


.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Cross-_16x16_-copy {
    width: 21px;
    height: 21px;
    background-position: -10px -10px;
}

.sprite-Layer-100 {
    width: 59px;
    height: 72px;
    background-position: -10px -51px;
}

.sprite-Layer-101 {
    width: 78px;
    height: 63px;
    background-position: -10px -143px;
}

.sprite-Layer-118 {
    width: 10px;
    height: 272px;
    background-position: -10px -226px;
}

.sprite-Layer-92 {
    width: 44px;
    height: 65px;
    background-position: -10px -518px;
}

.sprite-Layer-95 {
    width: 78px;
    height: 62px;
    background-position: -10px -603px;
}

.sprite-Layer-96 {
    width: 75px;
    height: 61px;
    background-position: -10px -685px;
}

.sprite-Shape-3-copy-3 {
    width: 66px;
    height: 66px;
    background-position: -10px -766px;
}

.sprite-greyicon-login {
    width: 20px;
    height: 17px;
    background-position: -10px -852px;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -889px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -925px;
}

.sprite-icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -10px -961px;
}

.sprite-icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -1004px;
}

.sprite-icon-circle {
    width: 25px;
    height: 25px;
    background-position: -10px -1047px;
}

.sprite-icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -10px -1092px;
}

.sprite-icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -10px -1137px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -1175px;
}

.sprite-icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -10px -1207px;
}

.sprite-icon-left {
    width: 22px;
    height: 40px;
    background-position: -10px -1244px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -10px -1304px;
}

.sprite-icon-right {
    width: 22px;
    height: 40px;
    background-position: -10px -1341px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -1401px;
}

.sprite-icon-search-red {
    width: 17px;
    height: 17px;
    background-position: -10px -1438px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -10px -1475px;
}

.sprite-icon-user-grey {
    width: 20px;
    height: 18px;
    background-position: -10px -1513px;
}

.sprite-icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -10px -1551px;
}

.sprite-new-flag {
    width: 60px;
    height: 59px;
    background-position: -10px -1583px;
}
