@font-face {
    font-family: "Cuprum Regular";
    src: url("../fonts/cuprum.woff");
}

@font-face {
    font-family: "Cuprum Bold";
    src: url("../fonts/cuprumbold.woff");
}

@font-face {
    font-family: "Cuprum Bold Italic";
    src: url("../fonts/cuprumbolditalic.woff");
}

@font-face {
    font-family: "Cuprum Italic";
    src: url("../fonts/cuprumitalic.woff");
}

@font-face {
font-family: "PT Sans Regular";
    src: url("../fonts/ptsans.woff");
}

@font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/ptsansbold.woff");
}

@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "symbols-technomart";
    src: url("../fonts/symbols-technomart.woff") format("woff"),
    url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*="icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;

    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-technomart";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;

    speak: none;}
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */



.icon-bookmark{
    color: #586171;
    padding-right: 10px;
}

.icon-basket{
    color: #586171;
    padding-right: 10px;
}

.icon-phone{
    color: #b7bfc8;
    padding-right: 40px;
    padding-left: 10px;
}

.icon-login{
    color: #c5c5c5;
    padding-right: 5px;
}

.icon-user{
    color: #b7bfc8;
    padding-right: 15px;
}

.icon-logout{
    color: #b7bfc8;
    padding-left: 20px;
}

.icon-home {
    color: #b7bfc8;
}


.icon-right{
    color: #b7bfc8;
    padding-right: 10px;
}

.icon-up-dir, .icon-down-dir{
    color: #b7bfc8;
font-size: 22px;
}

.icon-up-dir:hover, .icon-down-dir:hover{
    color: #010101;
}


.icon-up-dir:active, .icon-down-dir:active{
    color: #ee3643;
}



.icon-circle, .icon-circle-dot, .icon-check-off, .icon-check-on {
    font-size: 28px;
    color: #c1c1c1;

}




html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* header */

.main-header {
    min-height: 320px;
    background-color: #f2f6f8;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
}

.header-top{
    background-color: #293449;
    min-height: 42px;

}


.header-top .button-top-logo{
    float: left;
    width: 220px;
    background-color: #ee3643;
    color: #ffffff;
    font-family: "Cuprum Bold", 'Arial', sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
}


.button-top-logo::after{
    content: '';
    border: 5px solid #b52933;
    border-top:none;
    border-right:none;
    border-left: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}




.header-top .button-top-logo:hover, .header-top .button-top-logo:active{
    background-color:#ca2c37;
}


.header-top-search{
    float: left;
    width: 240px;
    right: 655px;
    height: 42px;

}


 input[type="search"] {
     content: "🔍";
    border: none;
    background: none;
    position: relative;
    outline: none;
    width: 240px;
    font-size: 17px;
    height: 40px;
    padding-left: 50px;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
}

input[type="search"]::after{
    content: "🔍";
    position: absolute;
    top: 0;
    right: 0px;

    width: 10px;
    height: 10px;
    display: block;
}


/*

.icon-search {
    position: relative;
    color: #586171;
    right: -15px;
    bottom: -13px;
}

input[type="search"]:hover .icon-search{
    color: #ee3643;
}

*/

.header-top-search:hover .icon-search, a.bookmarks:hover .icon-bookmark, a.cart:hover .icon-basket{
color: #ffffff;
}

 a.bookmarks:active .icon-bookmark, a.cart:active .icon-basket{
    color: #586171;
}


                                                                                                                                   .header-top-search input::-webkit-input-placeholder{
    color: #ffffff;
}

.header-top-nav{
    float: right;
    width: 460px;
    font-size: 0;
}

a.bookmarks, a.cart, a.action{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    display: inline-block;
    width: 150px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    padding-top: 12px;
}

a.bookmarks {
    width: 160px;
}

a.cart{

    text-align: right;
    padding-right: 20px;
    width: 130px;
}

a.cart-index{

}

a.action{
    background-color: #63a63e;
}
a.action:hover{
    background-color: #5fbb2d;
}

.header-center {
    min-height: 90px;
    padding-top: 47px;
    padding-bottom: 20px;
}
.header-center-about{
    float: left;
    width: 200px;
    color: #ee3643;
    font-family: "Cuprum Italic", 'Arial', sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 70px;
}

.header-center-contacts{
    float: left;
    width: 270px;
}


.header-center-contacts .phone{
    color: #ee3643;
    font-size: 21px;
    line-height: 17px;
    border: 3px solid white;

    height: 30px;
    padding-top: 10px;
}
.header-center-contacts .address{
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}


.header-center-userblock{
    float: right;
    width: 300px;
    margin-top: 15px;
}


a.login{
    width: 150px;
    background-color: #ffffff;



    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;


    font-size: 21px;
    line-height: 18px;
    color: #000000;
    margin-right: 5px;
    margin-left: 15px;
}



a.login:hover{
    color: #ee3643;
    width: 150px;


}

a.registration{
   width:  122px;
    background-color: #ffffff;
    padding: 10px 25px;
    font-size: 21px;
    line-height: 18px;
    color: #000000;
}

a.registration:hover{
    color: #ee3643;
}



a.registration:active, a.login:active, a.offers:active, a.personal-account:active{
color: #c5c5c5;
}

a.user{
    color: #000000;
    font-size: 21px;
    line-height: 18px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    padding-top: 10px;
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin-top: -15px;

}
a.offers, a.personal-account{
    color: #32425c;
    font-size: 16px;
    line-height: 26px;
    text-decoration: underline;
    margin-left: 15px;
    padding-right: 15px;
}
a.offers:hover, a.personal-account:hover{
    color: #ee3643;}

.header-navigation{
    border: 5px solid #293449;
    border-top:none;
    border-right:none;
    border-left: none;
    font-size: 0;
}


.header-navigation ul{
    margin: 0;
    background-color: #32425c;
    height: 60px;
    text-align: center;
    font-size: 0;
}
.header-navigation li{
   display: inline-block;
    vertical-align: top;

}

.header-navigation a{
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    display: block;
    padding-top: 20px ;
    padding-bottom: 25px;
    padding-left:   30px;
    padding-right: 30px;
}


.header-navigation a:hover{
    background-color: #293449;
}

.header-navigation a:active{
   opacity: 0.3;
}

.header-navigation ul:first-child{
    padding-left: 0px;

}


/* catalog */

.breadcrumbs {
    font-size: 0;
    padding-top: 25px;
margin-left: -40px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs a{
    font-size: 13px;
    padding-right: 10px;
    color: #000000;
    line-height: 18px;
    font-weight: normal;
    font-family: "PT Sans Regular", 'Arial', sans-serif;
    text-transform: uppercase;
}

.header h1 {
    background-color: #f2f6f8;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #32425c;
    height: 60px;
    padding-left: 30px;
    padding-top: 30px;
}


.conteiner-left {
    width: 220px;
    float: left;
    margin-top: 15px;
}

.filters span {
    font-family: PT Sans Regular, 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding: 15px 150px 15px  20px;

}

h2{
    font-family: PT Sans Bold, 'Arial', sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 20px;

}

.range-filter{
    padding-top:5px;
    width:220px;
    margin-bottom:10px;

}

.range-controls{
     position:relative;
    height:80px;
    margin-bottom:10px;
    padding:0 30px;
    border-radius:5px;
    overflow:hidden;
    background-color: #f7f3ec;
}

.scale{
    margin-top:39px;
    height:2px;
    background-color: #d7dcde;
}

.bar{
    height:2px;
    background:#00ca74;
    width:130px;
}

.toggle{
    position:absolute;
    top:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}

.min-toggle{
    left:10px;
}

.max-toggle{
    left:145px;
}

.price-controls input {
    width:55px;
    padding:8px 19px;
    border:none;
    background:#f7f3ec;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    text-align:center;
    color:#283136;
    border-radius:5px;

}

.price-controls{
    position: relative;
}

.price-controls::after{
    content: '—';
    position: absolute;
    left: 100px;
   top: 10px;

}

input.min-price {
    margin-right: 25px;
}



.filter-checkbox label, .filter-radio label{
    font-family: PT Sans Regular, 'Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;


}


.filter-manufacturers{
    border-bottom: 1px solid gainsboro;

}

.filter-power{

}

.filter-checkbox, .filter-radio{
    margin-bottom: 20px;

}

.filter-radio:last-child {
    margin-bottom: 80px;

}

input[type="checkbox"], input[type="radio"]{
    display: none;
}

a.button{
    border: 1px solid #e5e5e5;
    padding: 7px 20px;
    font-family: PT Sans Regular, 'Arial', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.conteiner-right{
    float: right;
    width: 700px;
}

.sort-navigation {
    font-family: PT Sans Regular, 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;

    padding-top: 2px;
    height: 45px;
    text-align: left;

    vertical-align: top;
}

.sort li span{
    padding-right: 60px;
}

.sort-navigation li{
    display: inline-block;
    background-color: #f7f3ec;
    padding-right: 60px;
}

.sort li:last-of-type{
    padding-right: 30px;
}

.sort-navigation a:not(.controls){
    color: gainsboro;
    border-bottom: 1px dashed #ee3643;

}

.sort-navigation a:hover:not(.controls){
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-navigation a:active{
    border: none;
    color: #ee3643;
}


.paginator{
    font-size: 0;
    vertical-align: top;
    margin-top: 50px;
    padding-left: 0;
}
.paginator a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 5%;
    width: 45px;
    min-height: 25px;
    text-align: center;
    padding: 10px 0px;
    color: #000000;
}
.paginator a:active {
    color: #ffffff;
    background-color: #ee3643;
}

.paginator a:hover{
    border: 1px solid #bdc6ca;
}

.paginator li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}

.paginator-item-next a{
    width: 140px;
}


section.info{
    background-color: #f2f6f8;

}

h3{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    line-height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 65px;

}

.info p{
    text-align: left;
    line-height: 24px;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    padding-bottom: 70px;
    font-size: 14px;

}

/* index */


section.promo {
padding-top: 60px;
}

.promo-top {

}

.promo-item {
    width: 300px;
    height: 125px;
    margin-bottom: 20px;
position: relative;

}

.promo-name{
    font-family: "Cuprum Bold", 'Arial', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    display: block;
    margin-bottom: 20px;
}

.promo-btn{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    display: block;
    padding: 10px 10px;
    text-align: center;
    background-color: rgba(74, 74, 74, 0.2);
    width: 125px;
    border-radius: 7%;
    margin-left: 20px;
    text-transform: uppercase;
}

.promo-btn:hover{
    background-color: rgba(74, 74, 74, 0.3);
}

.promo-btn:active{
    background-color: rgba(74, 74, 74, 0.4);
}

.promo-item-materials{
    float: left;
    background-color: #f6b22d ;

    margin-right: 20px;

}

.promo-item-tools{
    float: left;
    background-color: #4aafde ;
}


.promo-item-tech{
    float: right;
    background-color: #cc79d1;
}

.promo-bottom{

}
.promo-slider{
    float: left;
    position: relative;
    width: 620px;
}

.promo-info{
    position: absolute;
    top: 10px;
    margin-left: 20px;
}
.promo-info span{
    font-family: "Cuprum Bold", 'Arial', sans-serif;
    font-size: 36px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
.promo-info p{
     font-family: "PT Sans Regular", 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}



a.button-catalog{
    position: absolute;
    bottom: -140px;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5%;
    text-align: center;

}
a.button:hover{
    background-color: #ca2c37;
}

a.button:active{
    background-color: #ba2732;
}

.promo-items{
    float: right;
    width: 300px;
}
.promo-item-sale{

    background-color: #85d179;
}

.promo-item-delivery{
    background-color: #f6b22d;
}


section .popular{

}

.popular-title{
    background-color: #f7f3ec;
    height: 90px;
}

h1 {
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

 }

.popular-title h1{
    width: 375px;
    float: left;
    margin-left: 25px;
    font-weight: normal;
    padding-top: 10px;
}

a.button-popular{
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    float: right;
    width: 215px;
    margin-top: 30px;
    margin-right: 25px;
    border-radius: 5%;
    text-align: center;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5%;
    cursor: pointer;
}

/*  catalog items */


.items{
    font-size: 0;
    margin: 0;
    margin-bottom: 20px;
}
.item{
    display: inline-block;
    width: 218px;
    height: 318px;
    background-color: #ffffff;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    text-align: center;
}


.item .actions {
    display: none;
}

.item:hover .actions {
    display: block;
}



    /*  index items */


.popular-items{
    font-size: 0;
    margin: 0;
    margin-bottom: 20px;
}

.popular-item:last-child, .item:nth-child(3n){
    margin-right:0 ;
}

.popular-item{
    display: inline-block;
    width: 218px;
    height: 318px;
    background-color: #ffffff;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.item:hover{
    border: 1px solid #ffffff;
    box-shadow: 0 5px 25px 0 rgba(41, 52, 73,0.5);
}
.new:before{
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 10;
    width: 60px;
    height: 60px;
    content: '';
    background: url("../img/new flag.png") no-repeat 0 0;
}



.popular-item:hover{
    border: 1px solid #ffffff;
    box-shadow: 0 5px 25px 0 rgba(41, 52, 73,0.5);
}


.item-title{
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    font-family: PT Sans Bold, 'Arial', sans-serif;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.nosale .item-title{
    margin-bottom: 45px;
}


.item-title span{
    text-transform: uppercase;
}

.item-price-last{
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
    margin-bottom: 10px;
    font-family: PT Sans Bold, 'Arial', sans-serif;
    min-height: 20px;
}

.item-price-new{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    font-weight: bold;

    position: relative;
    width: 80px;
    margin: 0 auto 20px;
    padding: 10px 30px;
    border-radius: 3px;
    background: #ee3643;
    font-family: PT Sans Bold, 'Arial', sans-serif;
}



.item-price-new:after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #fff;
    border-left-color: #ee3643;
}


.item-image {
    display: inline-block;
    width: 219px;
    height: 145px;
    vertical-align: top;
    margin-right: 18px;
    margin-top: 20px;
    line-height: 145px;
    text-align: center;
    overflow: hidden;
}

.item-image img{
    vertical-align: middle;
}



.actions{
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff;
}
.actions .buy, .actions .bookmark{
    font-family: 'Cuprum Regular', 'Arial', sans-serif;
    font-size: 14px;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background-color: #63a63e;
}


.actions .buy {
    box-shadow: inset 0 -3px 0 #518534;
}

.actions .buy:hover{
background-color: #5fbb2d;
}

.actions .buy:active{
background-color: #518534;
}

.actions .bookmark {
    width: 129px;
    padding: 7px 0;
    color: #63a63e;
    border: 3px solid #63a63e;
    background-color: #fff;
}

.actions .bookmark:hover{
    border: 3px solid #32425c;
}

.actions .bookmark:active{
    border: 3px solid #c1c6ce;
    color: #c1c6ce;
}

.popular-item .actions {
    display: none;
}

.popular-item:hover .actions {
    display: block;
}





.popular-manufacturers {
    font-size: 0;
    margin: 0;
    margin-bottom: 55px;
}

.popular-manufacturers div{
    display: inline-block;
    width: 219px;
    height: 145px;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 18px;
    margin-top: 20px;
line-height: 145px;
    text-align: center;
}


.popular-manufacturers div img{
    vertical-align: middle;
}

.popular-manufacturers div:nth-child(4n){
margin-right: 0;
}

.popular-manufacturers div:hover{
    border: 1px solid #ffffff;
    box-shadow: 0 5px 25px 0 rgba(41, 52, 73,0.5);
}

.popular-manufacturers div:active{
    border: 1px solid #ffffff;
    box-shadow: 0 5px 25px 0 rgba(41, 52, 73,0.30);
}

.slider{
    height: 522px;
    background: #f2f6f8 url("../img/layer 131.png") 750px 250px no-repeat;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
}


.service{
    width: 440px;
    padding-top: 30px;
}

.service h2{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 28px;
}

.service p{
    margin-bottom: 75px;
    line-height: 23px;
}

.slider-nav{
    float: left;
    width: 240px;
    position: relative;

}
.slider-nav::after{
    content: '';
    position: absolute;
    top: -55px;
    right: 40px;
    background: url("../img/separator.png") 0 0 no-repeat;
    width: 10px;
    height: 272px;
    display: block;
}

.slider-nav ul{

   font-size: 0;
}

.slider-nav li{
    width: 240px;
    list-style: none;
    margin-left: -40px;

}

.slider-nav a{
    color: #ffffff;
    background-color: #32425c;
    font-family: "Cuprum Bold", 'Arial', sans-serif;
    font-size: 21px;
    line-height: 30px;
    display: block;
    padding: 10px 140px 10px 20px;
    border: 1px solid #293449;
box-shadow:inset  -1px -2px 1px -1px #405069;

}
.slider-nav a:hover{
background-color: #293449;
}

.slider-nav a.active{
    background-color: #ffffff;
    color: #32425c;
    border: none;
}


.slider-slides{
    float: right;
    width: 620px;
}

.delivery{
    width: 300px;

}

.delivery .slides-title{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 31px;
    margin-top: 20px;
    padding-top: 0;
    line-height: 40px;

}


.delivery p{

    line-height: 23px;
    margin-bottom: 75px;
}

section.info-tehnomart{
    margin-bottom: 85px;
}
.info-company{
    float: left;
    width: 540px;
}


.info-company h2{
font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 30px;
}


.info-company p{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    padding-bottom: 20px;
    line-height: 23px;
}

.info-company ul{
    padding-bottom: 30px;
}

.info-company li{
font-family: "Cuprum Regular", 'Arial', sans-serif;
    list-style: none;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}




a.button-1{
    color: #ffffff;
    background-color: #ee3643;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5%;
    padding: 10px 60px;
    text-transform: uppercase;
    text-align: center;
}


a.button-1:hover{
    background-color: #ca2c37;
}

a.button-1:active{
    background-color: #ba2732;
}


.info-contacts{
    float: right;
    width: 300px;
}

.info-contacts h2{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    font-size: 30px;
}

.info-contacts p{
    font-family: "Cuprum Regular", 'Arial', sans-serif;
    padding-bottom: 30px;
    line-height: 23px;
}


.info-contacts img{
    padding-bottom: 40px;
}

/* footer */


.main-footer{
    min-height: 300px;
    background-color: #32425c;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
}

.footer-top{
    background-color: #32425c;
    min-height: 65px;
}

.header-top-logo{
    float: left;
    width: 220px;
    background-color: #ee3643;
    color: #ffffff;
    height: 50px;
    font-family: "Cuprum Bold", 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    border: 5px solid #b52933;
    border-top:none;
    border-right:none;
    border-left: none;
}

.footer-top-navigation{
    float: right;
    width: 700px;
    }

.footer-top-navigation ul{
    margin: 0;
    background-color: #32425c;
    height: 60px;
    text-align: center;
    font-size: 0;
}
.footer-top-navigation li{
    display: inline-block;
    vertical-align: top;
}

.footer-top-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    display: block;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.footer-top-navigation a:hover, .footer-center-navigation a:hover {
    text-decoration: underline;
}

.footer-top-navigation a:active, .footer-center-navigation a:active{
    opacity: 0.4;
    text-decoration: none;
}

.footer-top-navigation ul:first-child{
    padding-left: 137px;}

.footer-top-navigation ul:last-child{
    padding-right: 0;
    margin-right: 0;
}

.footer-center{
    background-color: #32425c;
    min-height: 125px;
    padding-top: 30px;
}


.footer-center-contacts{
    float: left;
    width: 320px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Cuprum Regular", 'Arial', sans-serif;
}

.footer-center-navigation{
    float: right;
    width: 560px;

}

.footer-center-navigation ul{
    margin: 0;
    background-color: #32425c;
    height: 60px;
    text-align: center;
    font-size: 0;
}

.footer-center-navigation li{
    display: inline-block;
    vertical-align: top;
}

.footer-center-navigation a{
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    display: block;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 50px;
}


.footer-center-navigation ul:first-child{
    padding-left: 12px;}

.footer-center-navigation ul:last-child{
    padding-right: 0;
    margin-right: 0;
}

.footer-bottom{
    background-color: #293449;
    min-height: 65px;
    padding-top: 40px;
}


.footer-bottom-info{
    float: left;
    width: 240px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;

}

.footer-bottom-social{
    float: left;
    width: 150px;
    text-align: center;
    margin-left: 110px;
}

.social-btn {
     display: inline-block;
     width: 40px;
     height: 40px;
     margin: 0 2px;
     vertical-align: top;
     border: 1px solid transparent;
     border-radius: 50%;

     background-color: #212a3a;
}

.social-btn:hover{
    background-color: #ee3643;
}
.social-btn-vk{

}
.social-btn-fb{

}
.social-btn-inst{

}


.footer-bottom-mail{
    color: #ffffff;
    float: right;
    width: 160px;
    margin-right: 40px;
}

.footer-bottom-develop{
    float: right;
    width: 140px;
    color: #ffffff;
}

a.cite{
    color: #ffd180;
}

a.cite:hover{
    color:#ee3643;
}
